---
import Layout from "../layouts/Layout.astro";
import ImageCard from "../components/ImageCard.astro";

const images = await Astro.glob("../assets/*.jpeg");
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span class="text-gradient">Wondrous Images</span></h1>
    <p class="under-title">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid
      necessitatibus libero quidem sint, consequatur at deleniti mollitia dicta
      inventore? Ullam quasi tenetur deserunt eius odit cumque dolorem quo
      tempore officia. Nesciunt deserunt molestiae veniam numquam maxime vitae
      voluptates quidem suscipit sint porro?
    </p>
    <div class="image-card-grid">
      {images.map((image) => <ImageCard imageSrc={image.default} />)}
    </div>
  </main>
</Layout>

<style>
  main {
    margin: 0 auto;
    padding: 1.5rem;
    max-width: 71.25rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .image-card-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
  }
  @media screen and (max-width: 36rem) {
    h1 {
      text-align: center;
    }
    .under-title {
      padding-bottom: 1rem;
    }
    .image-card-grid {
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 1rem;
    }
  }
</style>
